@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
.googleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #4385f5;
    position: relative;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.googleContainer img {
    width: 15%;
    height: 100%;
    background-color: white;
    object-fit: contain;
    left: 10px;
    border-radius: 3px;
    position: absolute;

}

.loginPage {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    min-width: 40vw;
}