.googleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #4385f5;
    position: relative;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.googleContainer img {
    width: 15%;
    height: 100%;
    background-color: white;
    object-fit: contain;
    left: 10px;
    border-radius: 3px;
    position: absolute;

}

.loginPage {
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    min-width: 40vw;
}